* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    z-index: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 100dvh;
    width: 100%;
    height: 100vh;
}

.overlay {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    backdrop-filter: blur(0px);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    width: 22vh;
    height: 100vh;
    border-radius: 0 0 30px 30px;
    background-color: #9999ff;
    transition: 500ms;
    box-shadow: 2px 8px 16px #010e20;
    z-index: 0;
}

nav .user {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.user img {
    display: flex;
    justify-content: center;
    width: 15vh;
    height: 15vh;
}

nav .user i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
    width: 100%;
    height: 10vh;
    color: #3083f0;
    text-shadow: 2px 2px #010e20;
}

nav .user h1 {
    text-align: center;
    color: #ffff;
    font-size: 1.5rem;
}


nav .nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 100%;
    height: fit-content;
    gap: 5rem;
}

nav .nav-items li {
    display: flex;
    width: 50%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 500ms;
    background-color: #3083f0;
}

nav .nav-items li:hover {
    background-color: #FDAD00;
}

nav .nav-items li:hover i {
    color: #000071;
}

nav .nav-items a {
    color: whitesmoke;
    transition: ease-in 500ms;
}

/* ------------------------------------------------- General Settings and Nav ------------------------------------------------------- */

main .panel {
    display: flex;
    background-color: #001736;
    z-index: 1;
    /* border: 5px solid rebeccapurple; */
}

main .panel .machineCrud {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    gap: 1rem;
    z-index: 1;
    /* border: 5px solid yellow; */
}

main .panel .machineCrud .high-info {
    display: flex;
    justify-content: center;
    background-color: #3083f0;
    box-shadow: 4px 8px 16px #001736;
}

main .panel .machineCrud .high-info .general {
    display: flex;
    width: 100%;
    text-align: center;
}

main .panel .machineCrud .high-info .general .meeting {
    width: 100%;
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: space-evenly;
}

.meeting h1 {
    font-size: 20px;
    color: #ffff;
    text-shadow: 4px 8px 16px #010710;
}

main .panel .machineCrud .machines {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

main .panel .machineCrud .machines .top-info {
    display: flex;
    height: fit-content;
    justify-content: space-around;
    width: 100%;
    height: 10rem;
}

main .panel .machineCrud .machines .top-info .crudOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 16rem;
    font-size: 5rem;
    /* border: 5px solid greenyellow; */
}

main .panel .machineCrud .machines .top-info .color-legend {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

main .panel .machineCrud .machines .top-info .color-legend .desc {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}

main .panel .machineCrud .machines .top-info .color-legend .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .panel .machineCrud .machines .top-info .color-legend .desc .color1 {
    width: 8rem;
    height: 4rem;
    background-color: #36ca36;
    border-radius: 5%;
}

main .panel .machineCrud .machines .top-info .color-legend .desc .color2 {
    width: 8rem;
    height: 4rem;
    background-color: orange;
    border-radius: 5%;
}

main .panel .machineCrud .machines .top-info .color-legend .desc .color3 {
    width: 8rem;
    height: 4rem;
    background-color: #ba2020;
    border-radius: 5%;
}

main .panel .machineCrud .machines .top-info .color-legend .desc .color4 {
    width: 8rem;
    height: 4rem;
    background-color: grey;
    border-radius: 5%;
}




main .panel .machineCrud .machines .top-info .color-legend .desc h1 {
    text-align: center;
    font-size: 1.5rem;
    /* border: 5px solid red; */
}

main .panel .machineCrud .machines .top-info .filter {
    display: flex;
    justify-content: center;
    /* border: 5px solid blue; */
    width: 25%;
    height: fit-content;
}

.select-project select {
    margin-top: 15%;
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #3083f0;
    transition: 200ms;
}

.select-project select:hover {
    width: 15.5rem;
    height: 3.5rem;
    background-color: #FDAD00;
}

main .panel .machineCrud .machines .all-machines {
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
    /* border: 5px solid rgb(32, 159, 0); */
}

main .panel .machineCrud .machines .modalMachine {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin: 15px;
    position: absolute;
    background-color: #000071;
    box-shadow: 2px 2px 2px black;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    z-index: 3;
}

main .panel .machineCrud .machines .modalMachine .close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

main .panel .machineCrud .machines .modalMachine .close i {
    margin: 15px;
    font-size: 3rem;
    /* border: 5px solid purple; */
    transition: 250ms;
}

main .panel .machineCrud .machines .modalMachine .close i:hover {
    font-size: 3.2rem;
}

main .panel .machineCrud .machines .modalMachine .title {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
    /* border: 5px solid fuchsia; */
}

main .panel .machineCrud .machines .modalMachine .content {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* border: 5px solid floralwhite; */
}

main .panel .machineCrud .machines .modalMachine .content .machineCrud {
    display: inline-flex;
    align-items: center;
    width: 30%;
    height: 100%;
}

main .panel .machineCrud .machines .modalMachine .content .machineCrud select {
    font-size: 1rem;
    width: 15rem;
    height: 2.5rem;
    background-color: #3083f0;
    border: none;
    border-radius: 10px;
    text-align: center;
}

main .panel .machineCrud .machines .modalMachine .content .machineCrud .remove-machine {
    font-size: 3.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    /* border: 5px solid red; */
}

main .panel .machineCrud .machines .modalMachine .content .machineCrud .remove-machine button {
    font-size: 1rem;
    width: 8rem;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background-color: #3083f0;
    transition: 500ms;
}

main .panel .machineCrud .machines .modalMachine .content .machineCrud .remove-machine button:hover {
    width: 8.5rem;
    background-color: #FDAD00;
    cursor: pointer;
}

main .panel .machineCrud .machines .modalMachine .content .parametrize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    width: 60%;
    gap: 5%;
    margin-bottom: 10%;
    /* border: 5px solid gainsboro; */
    text-shadow: 2px 2px 2px black;
}

main .panel .machineCrud .machines .modalMachine .content .parametrize input {
    font-size: 1.2rem;
    width: 15rem;
    height: 2.5rem;
    color: #0000008b;
    padding: 3px;
    background-color: rgba(128, 128, 128, 0.499);
    border-radius: 10px;
}

main .panel .machineCrud .machines .modalMachine .content .parametrize .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    height: fit-content;
    margin-top: 5%;
}

main .panel .machineCrud .machines .modalMachine .content .parametrize .buttons button {
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: #3083f0;
    transition: 500ms;
    cursor: pointer;
}

main .panel .machineCrud .machines .modalMachine .content .parametrize .buttons button:hover {
    background-color: transparent;
    width: 11rem;
    height: 3.2rem;
    background-color: #FDAD00;

}

main .panel .machineCrud .machines .machine {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 2px black;
    transition: 500ms;
    /* filter: grayscale(100%); */
}

main .panel .machineCrud .machines .machine h1 {
    width: 100%;
    /* border: 5px solid red; */
    text-align: center;
    vertical-align: middle;
}

main .panel .machineCrud .machines .machine .infoHardware {
    display: flex;
    height: fit-content;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
    border: 3px solid whitesmoke;
}

main .panel .machineCrud .machines .machine .infoHardware .info {
    text-align: center;
    font-size: 1.1rem;
    overflow-y: auto;
    background-color: #3083f0;

}


main .panel .machineCrud .machines .machine:hover,
main .panel .machineCrud .machines .machine .infoHardware .info:hover {
    width: 16rem;
    background-color: #3083f0;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}

main .panel .machineCrud .machine-desc .machine-infos .info {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

main .panel .machineCrud .bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 25%;
}

main .panel .machineCrud .bottom .log {
    display: flex;
    text-align: center;
    width: 25%;
    height: 100%;
    border-radius: 15px;
    overflow-y: auto;
    background-color: #000071;
    box-shadow: 2px 2px 2px black;
}