* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    z-index: 0;
}

section {
    display: flex;
    width: 100dvw;
    height: 100dvh;
}

html {
    scroll-behavior: smooth;
} 

.overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    height: 100vh;
    border-radius: 0 0 30px 30px;
    background-color: #256acb;
    box-shadow: 2px 8px 16px #010e20;
    z-index: 0;
    transition: 500ms;
}

.user img {
    width: 100%;
}

nav .user i {
    display: flex;
    justify-content: center;
    font-size: 4.5vh;
    color: #e7a619;
    text-shadow: 2px 2px #010e20;
}

nav .nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 5rem;
}

nav .nav-items a {
    display: flex;
    width: 50%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 500ms;
    background-color: #FDAD00;
}

nav .nav-items .item {
    display: flex;
    width: 50%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 500ms;
    background-color: #FDAD00;
}

nav .nav-items a:hover {
    background-color: #f2dfb5;
}

nav .nav-items .item:hover {
    /* background-color: #FDAD00; */
    background-color: #f2dfb5;
}

nav .nav-items a:hover i {
    color: #000071;
}

nav .nav-items .item:hover i {
    color: #000071;
}

nav .nav-items a {
    color: whitesmoke;
    transition: ease-in 500ms;
}

/* ------------------------------------------------- General Settings and Nav ------------------------------------------------------- */

main .panel {
    display: fle;
    background-color: #001736;
    z-index: 1;
    height: 100vh;
}

main .panel .main-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 1rem;
    z-index: 1;
}

main .panel .main-content .high-info {
    display: flex;
    justify-content: center;
    background-color: #3083f0;
}

main .panel .main-content .high-info .general {
    display: flex;
    width: 100%;
    text-align: center;
}

main .panel .main-content .high-info .general .meeting {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px #000000;
}

.meeting h1 {
    font-size: 20px;
    color: #ffff;
    text-shadow: 4px 8px 16px #010710;
}

main .panel .main-content .machines {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

main .panel .main-content .machines .top-info {
    display: flex;
    height: fit-content;
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

main .panel .main-content .machines .top-info .crudOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 16rem;
    font-size: 5rem;
}

main .panel .main-content .machines .top-info .color-legend {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

main .panel .main-content .machines .top-info .color-legend .desc {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}

main .panel .main-content .machines .top-info .color-legend .desc .color1 {
    width: 8rem;
    height: 4rem;
    border: 2px solid white;
    background-color: #001736;
    border-radius: 5%;
}

main .panel .main-content .machines .top-info .color-legend .desc .color2 {
    width: 8rem;
    height: 4rem;
    background-color: #FDAD00;
    border-radius: 5%;
}

main .panel .main-content .machines .top-info .color-legend .desc .color3 {
    width: 8rem;
    height: 4rem;
    background-color: #ba2020;
    border-radius: 5%;
}

main .panel .main-content .machines .top-info .color-legend .desc .color4 {
    width: 8rem;
    height: 4rem;
    background-color: grey;
    border-radius: 5%;
}

main .panel .main-content .machines .top-info .color-legend .desc h1 {
    text-align: center;
    font-size: 1.5rem;
}

main .panel .main-content .machines .top-info .filter {
    display: flex;
    justify-content: center;
    border: 5px solid blue;
    width: 25%;
    height: fit-content;
}

.select-project select {
    margin-top: 15%;
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #3083f0;
    transition: 200ms;
    z-index: 0;    
}

.select-project select:hover {
    width: 15.5rem;
    height: 3.5rem;
    background-color: #FDAD00;
}

main .panel .main-content .machines .all-machines {
    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
    justify-content: space-evenly;
}

/* EXEMPLO PARA APRESENTAÇÃO */

main .panel .main-content .machines .all-machines .machine:nth-child(3) {
    filter: grayscale(1);
}

main .panel .main-content .machines .all-machines .machine:nth-child(2) {
    background-color: #ba2020;
}

main .panel .main-content .machines .all-machines .machine:nth-child(2) .infoHardware .info {
    background-color: #ba2020;
}

main .panel .main-content .machines .all-machines .machine:nth-child(2) .infoHardware .info:hover {
    background-color: #ba2020;
}

/* EXEMPLO PARA APRESENTAÇÃO */

main .panel .main-content .machines .modalMachine {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 75%;
    height: 70%;
    background-color: #000071;
    box-shadow: 2px 2px 2px black;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    z-index: 3;
}

main .panel .main-content .machines .modalMachine .title {
    display: flex;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 2px black;
}

main .panel .main-content .machines .modalMachine .title h1 {
    align-items: center;
    width: 100%;
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
}

main .panel .main-content .machines .modalMachine .title .close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

main .panel .main-content .machines .modalMachine .title .close i {
    margin: 15px;
    font-size: 2rem;
    transition: 250ms;
}

main .panel .main-content .machines .modalMachine .title .close i:hover {
    font-size: 3.2rem;
}

main .panel .main-content .machines .modalMachine .content {
    display: inline-flex;
    justify-content: space-evenly;
    height: 100%;
}

main .panel .main-content .machines .modalMachine .content .machineCrud {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 30%;
    height: 100%;
}

main .panel .main-content .machines .modalMachine .content .machineCrud select {
    font-size: 1rem;
    width: 15rem;
    height: 2.5rem;
    background-color: #3083f0;
    border: none;
    border-radius: 10px;
    text-align: center;
}

main .panel .main-content .machines .modalMachine .content .machineCrud .remove-machine {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30%;
}

main .panel .main-content .machines .modalMachine .content .machineCrud .remove-machine button {
    font-size: 1rem;
    width: 8rem;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background-color: #3083f0;
    transition: 500ms;
}

main .panel .main-content .machines .modalMachine .content .machineCrud .remove-machine button:hover {
    width: 8.5rem;
    background-color: #FDAD00;
    cursor: pointer;
}

main .panel .main-content .machines .modalMachine .content .parametrize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    text-shadow: 2px 2px 2px black;
}

main .panel .main-content .machines .modalMachine .content .parametrize input {
    font-size: 1rem;
    color: black;
    width: 15rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
}

main .panel .main-content .machines .modalMachine .content .parametrize .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    }

main .panel .main-content .machines .modalMachine .content .parametrize .buttons button {
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: #3083f0;
    transition: 500ms;
    cursor: pointer;
}

main .panel .main-content .machines .modalMachine .content .parametrize .buttons button:hover {
    background-color: transparent;
    width: 11rem;
    height: 3.2rem;
    background-color: #FDAD00;

}

main .panel .main-content .machines .machine {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 2px black;
    transition: 500ms;
}

main .panel .main-content .machines .machine h1 {
    width: 100%;
    text-align: center;
}

main .panel .main-content .machines .machine .infoHardware {
    display: flex;
    height: fit-content;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
}

main .panel .main-content .machines .machine .infoHardware .info {
    text-align: center;
    font-size: 1rem;
    overflow-y: auto;
    background-color: #3083f0;
    border: 2px solid white;
}


main .panel .main-content .machines .machine:hover,
main .panel .main-content .machines .machine .infoHardware .info:hover {
    width: 16rem;
    background-color: #3083f0;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}

main .panel .main-content .bottom {
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

main .panel .main-content .bottom .log {
    display: flex;
    text-align: center;
    width: 25%;
    height: 100%;
    border-radius: 15px;
    overflow-y: auto;
    background-color: #000071;
    box-shadow: 2px 2px 2px black;
    border: 5px solid blue;
}