* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    z-index: 0;
}

:root {
    --color-background-partes: rgb(3, 3, 66);
    --color-opcoes: rgb(35, 35, 121);
    --color-nav-hover: rgb(6, 7, 50);
    --color-sair-hover: rgb(210, 79, 59);
    --color-background-kpi: rgb(35, 35, 121);
    /* --color-background-kpi: #9b2727; */
}

section {
    display: flex;
    width: 100dvw;
    height: 100dvh;
}

html {
    scroll-behavior: smooth;
} 

.overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

nav {
    width: 10%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-partes);
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(300, 100, 256, 0.25));
}

nav .logo img {
    /* border: 2px solid greenyellow; */
    width: 100%;
}

nav .nav-items {
    /* border: 2px solid red; */
    /* height: 80%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 4rem;
    font-size: 18px;
    padding-left: 5%;
}

nav .nav-items .item .titulo {
    /* border: 2px solid magenta; */
    display: flex;
    width: 100%;
    font-size: 12px;
    border-radius: 5px;
    /* justify-content: center; */
    /* background-color: var(--color-titulo); */
    transition: 500ms;
    cursor: pointer;
    padding-left: 2%;
}

nav .nav-items .item {
    /* border: 2px solid yellow; */
    width: 100%;
    /* height: 20%; */
    display: flex;
    padding: 2%;
    gap: 0.4rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-items .item .groupOpcoes {
    /* border: 1px solid rebeccapurple; */
    width: 85%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: var(--color-opcoes);
    border-radius: 5px;
    font-size: 15px;
    transition: 500ms;
    cursor: pointer;
    padding: inherit;
    border: none;
    border-bottom: solid darkslateblue;
}

nav .nav-items .item .groupOpcoes-sair {
    /* border: 2px solid yellow; */
    justify-content: center;
    width: 85%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-color: var(--color-opcoes);
    border-radius: 5px;
    font-size: 15px;
    transition: 500ms;
    cursor: pointer;
    padding: inherit;
    border: none;
    border-bottom: solid darkslateblue;
}

nav .nav-items .item .groupOpcoes i {
    width: 20%;
    padding: inherit;
}

nav .nav-items .item .titulo:hover {
    background-color: var(--color-nav-hover);
}

nav .nav-items .item .groupOpcoes:hover {
    background-color: var(--color-nav-hover);
}

nav .nav-items .item .groupOpcoes-sair:hover {
    background-color: var(--color-sair-hover);
}

/* ------------------------------------------------- General Settings and Nav ------------------------------------------------------- */

main .panel {
    display: fle;
    background-color: #001736;
    z-index: 1;
    height: 100vh;
}

main .panel .main-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: rgb(3, 3, 34);
    gap: 1rem;
    z-index: 1;
}

main .panel .main-content .high-info {
    display: flex;
    justify-content: center;
    background-color: var(--color-background-partes);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

main .panel .main-content .high-info .general {
    display: flex;
    width: 100%;
    text-align: center;
}

main .panel .main-content .high-info .general .meeting {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px #000000;
}

.meeting h1 {
    font-size: 20px;
    color: #ffff;
    text-shadow: 4px 8px 16px #010710;
}

main .panel .main-content .machines {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

main .panel .main-content .machines .top-info {
    display: flex;
    height: fit-content;
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

main .panel .main-content .machines .top-info .crudOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 16rem;
    font-size: 5rem;
}

main .panel .main-content .machines .top-info .color-legend {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

main .panel .main-content .machines .top-info .color-legend .desc {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}

main .panel .main-content .machines .top-info .color-legend .desc .color1 {
    width: 8rem;
    height: 4rem;
    border: 2px solid white;
    background-color: #001736;
    border-radius: 5%;
}

main .panel .main-content .machines .top-info .color-legend .desc .color2 {
    width: 8rem;
    height: 4rem;
    background-color: #FDAD00;
    border-radius: 5%;
}

main .panel .main-content .machines .top-info .color-legend .desc .color3 {
    width: 8rem;
    height: 4rem;
    background-color: #ba2020;
    border-radius: 5%;
}

main .panel .main-content .machines .top-info .color-legend .desc .color4 {
    width: 8rem;
    height: 4rem;
    background-color: grey;
    border-radius: 5%;
}

main .panel .main-content .machines .top-info .color-legend .desc h1 {
    text-align: center;
    font-size: 1.5rem;
}

.select-project select {
    margin-top: 15%;
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    background-color:  var(--color-opcoes);
    transition: 200ms;
    z-index: 0;    
}

.select-project select:hover {
    width: 15.5rem;
    height: 3.5rem;
    background-color: #FDAD00;
}

main .panel .main-content .machines .all-machines {
    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
    justify-content: space-evenly;
}

/* EXEMPLO PARA APRESENTAÇÃO */

main .panel .main-content .machines .all-machines .machine:nth-child(3) {
    filter: grayscale(1);
}

main .panel .main-content .machines .all-machines .machine:nth-child(2) {
    background-color: #ba2020;
}

main .panel .main-content .machines .all-machines .machine:nth-child(2) .infoHardware .info {
    background-color: #ba2020;
}

main .panel .main-content .machines .all-machines .machine:nth-child(2) .infoHardware .info:hover {
    background-color: #ba2020;
}

/* EXEMPLO PARA APRESENTAÇÃO */

main .panel .main-content .machines .modalMachine {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 75%;
    height: 70%;
    background-color: var(--color-background-partes);
    box-shadow: 2px 2px 2px black;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    z-index: 3;
}

main .panel .main-content .machines .modalMachine .title {
    display: flex;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 2px black;
}

main .panel .main-content .machines .modalMachine .title h1 {
    align-items: center;
    width: 100%;
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
}

main .panel .main-content .machines .modalMachine .title .close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

main .panel .main-content .machines .modalMachine .title .close i {
    margin: 15px;
    font-size: 2rem;
    transition: 250ms;
}

main .panel .main-content .machines .modalMachine .title .close i:hover {
    font-size: 3.2rem;
}

main .panel .main-content .machines .modalMachine .content {
    display: inline-flex;
    justify-content: space-evenly;
    height: 100%;
}

main .panel .main-content .machines .modalMachine .content .machineCrud {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 30%;
    height: 100%;
}

main .panel .main-content .machines .modalMachine .content .machineCrud select {
    font-size: 1rem;
    width: 15rem;
    height: 2.5rem;
    background-color: var(--color-opcoes);
    border: none;
    border-radius: 10px;
    text-align: center;
}

main .panel .main-content .machines .modalMachine .content .machineCrud .remove-machine {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30%;
}

main .panel .main-content .machines .modalMachine .content .machineCrud .remove-machine button {
    font-size: 1rem;
    width: 8rem;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background-color: var(--color-opcoes);
    transition: 500ms;
}

main .panel .main-content .machines .modalMachine .content .machineCrud .remove-machine button:hover {
    width: 8.5rem;
    background-color: #FDAD00;
    cursor: pointer;
}

main .panel .main-content .machines .modalMachine .content .parametrize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    text-shadow: 2px 2px 2px black;
}

main .panel .main-content .machines .modalMachine .content .parametrize input {
    font-size: 1rem;
    color: black;
    width: 15rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
}

main .panel .main-content .machines .modalMachine .content .parametrize .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    }

main .panel .main-content .machines .modalMachine .content .parametrize .buttons button {
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: var(--color-opcoes);
    transition: 500ms;
    cursor: pointer;
}

main .panel .main-content .machines .modalMachine .content .parametrize .buttons button:hover {
    background-color: transparent;
    width: 11rem;
    height: 3.2rem;
    background-color: #FDAD00;

}

main .panel .main-content .machines .machine {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 2px black;
    transition: 500ms;
}

main .panel .main-content .machines .machine h1 {
    width: 100%;
    text-align: center;
}

main .panel .main-content .machines .machine .infoHardware {
    display: flex;
    height: fit-content;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
}

main .panel .main-content .machines .machine .infoHardware .info {
    text-align: center;
    font-size: 1rem;
    overflow-y: auto;
    background-color: var(--color-background-partes);
    border: 2px solid white;
}


main .panel .main-content .machines .machine:hover,
main .panel .main-content .machines .machine .infoHardware .info:hover {
    width: 16rem;
    background-color: var(--color-background-partes);
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}

main .panel .main-content .bottom {
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

main .panel .main-content .bottom .log {
    display: flex;
    text-align: center;
    width: 25%;
    height: 100%;
    border-radius: 15px;
    overflow-y: auto;
    background-color: var(--color-nav-hover);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}