body {
    background-color: rgb(3, 3, 34);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color-background-partes: rgb(3, 3, 66);
    --color-opcoes: rgb(35, 35, 121);
    --color-nav-hover: rgb(6, 7, 50);
    --color-sair: rgb(203, 30, 4);
    --color-sair-hover: rgb(150, 32, 14);
    --color-sair-borda: rgb(150, 32, 14);
    --color-background-kpi: rgb(35, 35, 121);
    --color-breadcrumb-atual: #98a40b;
    --color-grafico: #061980;
    --color-kpi-normal: rgb(148, 255, 148);
    --color-kpi-atencao: rgb(220, 143, 0);
    --color-kpi-ruim: rgb(255, 9, 9);
    --color-background-modal: rgb(88, 126, 184);
    /* --color-border-grafico: #eeff83; */
}

section {
    display: flex;
    height: 100dvh;
    width: 100dvw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    /* font-weight: lighter; */
}

nav {
    /* border: 2px solid white; */
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-partes);
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(252, 242, 252, 0.25));
}

nav .logo img {
    /* border: 2px solid greenyellow; */
    width: 100%;
}

nav .nav-items {
    /* border: 2px solid red; */
    /* height: 80%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 4rem;
    font-size: 18px;
    padding-left: 5%;
}

nav .nav-items .item .titulo {
    /* border: 2px solid magenta; */
    display: flex;
    width: 100%;
    font-size: 13px;
    border-radius: 5px;
    /* justify-content: center; */
    /* background-color: var(--color-titulo); */
    transition: 500ms;
    cursor: pointer;
    padding-left: 2%;
}

nav .nav-items .item {
    /* border: 2px solid yellow; */
    width: 100%;
    /* height: 20%; */
    display: flex;
    padding: 2%;
    gap: 0.4rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-items .item-sair {
    /* border: 2px solid yellow; */
    width: 100%;
    /* height: 20%; */
    display: flex;
    padding: 2%;
    gap: 0.4rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-items .item .groupOpcoes {
    /* border: 1px solid rebeccapurple; */
    width: 85%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: var(--color-opcoes);
    border-radius: 5px;
    font-size: 17px;
    transition: 500ms;
    cursor: pointer;
    padding: inherit;
    border: none;
    border-bottom: solid darkslateblue;
}

nav .nav-items .item .groupOpcoes-sair {
    /* border: 2px solid yellow; */
    justify-content: center;
    width: 65%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-color: var(--color-sair);
    border-radius: 5px;
    font-size: 15px;
    transition: 500ms;
    cursor: pointer;
    padding: inherit;
    border: none;
    border-bottom: solid var(--color-sair-hover);
}

nav .nav-items .item .groupOpcoes i {
    width: 20%;
    padding: inherit;
}

nav .nav-items .item .titulo:hover {
    background-color: var(--color-nav-hover);
}

nav .nav-items .item .groupOpcoes:hover {
    background-color: var(--color-nav-hover);
}

nav .nav-items .item .groupOpcoes-sair:hover {
    background-color: var(--color-sair-hover);
}



/* -------------------------------------------------------- BREADCRUMB -------------------------------------------------------------- */
.breadcrumb {
    /* border: 1px solid red; */
    height: 4vh;
    width: 42vw;
    display: flex;
    border-radius: 7px;

}

.breadcrumb .breadcrumbList {
    /* padding: 10px 16px; */
    list-style: none;
    /* background-color: var(--color-background-partes); */
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 7px;
}

.breadcrumb .breadcrumbList li {
    border-right: 1px solid var(--color-background-partes);
    border-radius: 5px;
    width: 8vw;
    display: flex;
    justify-content: center;
    background-color: var(--color-grafico);
    padding: 2px;
    box-shadow: 4px 0px 21px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    cursor: pointer;
}

.breadcrumb .breadcrumbList li:hover {
    background-color: var(--color-nav-hover);
}

.breadcrumb .breadcrumbList .primeiro {
    /* background-color: red; */
    z-index: 4;
}

.breadcrumb .breadcrumbList .segundo {
    z-index: 3;
    left: -11px;
    display: flex;
    position: relative;
    /* background: blue; */
}

.breadcrumb .breadcrumbList .terceiro {
    /* background-color: green; */
    left: -18px;
    position: relative;
    z-index: 2;
}

.breadcrumb .breadcrumbList .quarto {
    /* background-color: green; */
    left: -25px;
    position: relative;
    z-index: 1;
}

.breadcrumb .breadcrumbList .quinto {
    /* background-color: blueviolet; */
    position: relative;
    left: -32px;
    width: 9vw;
    background-color: var(--color-breadcrumb-atual);
    /* font-style:; */
    color: black;
}

/* .breadcrumb .breadcrumbList li a {
    display: block;
    float: left;
    height: 15px;
    background-color: var( --color-opcoes);
    text-align: center;
    padding: 20px 30px 0 20px;
    position: relative;
    margin: 0 10px 0 0; 
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    line-height: 1px;
    cursor:default;
} */

/* .breadcrumb .breadcrumbList li a:after {
    content: "";  
    position: absolute; 
    right: -17px; 
    top: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid var(--color-opcoes); 
    z-index: 1;
}

.breadcrumb .breadcrumbList li a:before {
    content: "";  
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #fff;
    position: absolute; 
    left: 0; 
    top: 0;
}

.breadcrumb .breadcrumbList li {
    display: inline;
    font-size: 17px;
}

ul.breadcrumbList li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

.breadcrumb .breadcrumbList li a {
    color: #0275d8;
    color: white;
    text-decoration: none;
} */

/* .breadcrumb .breadcrumbList li a:hover {
    background: #779519;
}

.breadcrumb .breadcrumbList li a:hover:after {
    border-left-color: #779519;
} 


.breadcrumb .breadcrumbList li:first-child a {
    border-top: 10px; 
    border-bottom: 10px;
}

.breadcrumb .breadcrumbList li:first-child a:before {
    display: none; 
}

.breadcrumb .breadcrumbList li:last-child a {
    padding-right: 80px;
    border-top: 10px; 
    border-bottom: 10px;
}

.breadcrumb .breadcrumbList li:last-child a:after {
    display: none; 
}

.breadcrumb .breadcrumbList li.estouAqui {
    color: #ffcc00;
    background: #000;
} */

/* ul.breadcrumbList li a:hover {
    color: #01447e;
    text-decoration: underline;
} */

/* -------------------------------------------------------- TELA -------------------------------------------------------------------- */
.main-content {
    display: flex;
    height: 95vh;
    width: 85%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.main-content .projectTools .buttonTools {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-top: 25%;
    padding: 30%;
    background-color: #49C261;
    color: #ffff;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 15%;
}

.main-content .projectTools .buttonTools:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-top: 25%;
    padding: 30%;
    background-color: darkslateblue;
    font-size: 14px;
    border: 1px solid #FABF3F;
    border-radius: 10px;
}

.main-content .projectTools .buttonTools i {
    padding: 2px;
}

.main-content .usbContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10%;
    gap: 35px;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-partes);
    filter: drop-shadow(0px 4px 4px rgba(300, 100, 256, 0.25));
    /* overflow: hidden;
    overflow-y: scroll; */
}

.main-content .usbContent::-webkit-scrollbar {
    width: 10px;
    background-color: #FABF3F;
    border-radius: 10px;
}

.main-content .usbContent::-webkit-scrollbar-thumb {
    background-color: darkslateblue;
}

.main-content .usbContent h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    color: var(--color-background-modal);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #ffff;
}

.main-content .usbContent h1::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #007bff;
    /* Cor da linha decorativa */
    margin: 10px auto 0;
    /* Centralize a linha e ajuste o espaçamento */
}

.main-content .usbContent h3 {
    width: 50%;
    font-family: 'Arial', sans-serif;
    font-size: 1.4em;
    color: #ffffff9f;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.main-content .usbContent .blacklist-content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 15%;

}

table {
    width: 80%;
    height: 50%;
    border-collapse: collapse;
    background-color: rgba(71, 61, 139, 0.295);
}

table,
th,
td {
    border: 1px solid #ddd;
    background-color: #050e41;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--color-background-modal);
    color: #FABF3F;
    text-shadow: 1px 1px #050e41;
}

/* Estilizando linhas da tabela CRUD */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.usbContent button {
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
    box-shadow: 0 0 1px 2px #050e41;
    text-shadow: 0 0 1px 1px #f9f9f9;
}

.usbContent button:hover {
    opacity: 0.8;
}

.edit {
    background-color: #FABF3F;
    color: #050e41;
    width: 40%;
    height: 100%;
    transition: 0.7s;
}

.edit:hover {
    background-color: darkslateblue;
    width: 45%;
    height: 100%;
}

.delete {
    background-color: rgba(234, 34, 34, 0.72);
    color: #ffff;
    width: 30%;
    height: 100%;
    transition: 0.7s;
}

.delete:hover {
    background-color: darkslateblue;
    width: 32%;
    height: 100%;
}

.usbContent .walletUsb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6%;
    width: 90%;
    height: 100%;
    background-color: transparent;
    /* box-shadow: 1px 2px 4px #061980; */
    border-radius: 10px;
    /* padding: 5%; */
}



/* .usbContent .walletUsb .divUsb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 15.5%;
    height: 55%;
    background-color: darkslateblue;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.59);
    padding-bottom: 3px;
} */


/* .usbContent .usbContent .walletUsb .divUsb p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding-top: 6%;
    font-weight: 400;
} */

.usbContent .walletUsb .divUsb i {
    color: #ffffff8e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 6%;
    font-size: 3vh;
}

.main-content .usbContent .usb_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-content .usbContent .usb_list_bloqueado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-content .usbContent .blacklist-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-content .usbContent h2 {
    margin-right: 60%;
    color: #FABF3F;
    text-shadow: 1px 1px 2px #061980;
    /* border: 1px solid #007bff; */
}

.main-content .usbContent i {
    text-decoration: none;
    text-shadow: none;
    font-size: 20px;
}

/* Form de adicionar USB */
form {
    display: flex;
    position: absolute;
    transition: 0.8s;
    z-index: 10;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    background-color: var(--color-background-modal);
    box-shadow: 0 0 60px #050e41;
    width: 50%;
    height: 60%;
    margin-bottom: 15%;
    padding: 10px;
    border-radius: 15px;
}

form i {
    font-size: 1rem;
}


.hidden {
    display: none;
}

form h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    text-shadow: 2px 2px 4px #050e41;
}

form h3 {
    width: 60%;
    display: flex;
    padding-left: 5%;
    opacity: 0.8;
    font-style: oblique;
    font-weight: 400;
    border-bottom: 1px solid #ffff;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

form input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    background-color: #ffffff76;
}

textarea {
    display: flex;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;
    color: black;
    padding-bottom: 30px;
    background-color: #ffffff76;
}


form button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 8%;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: 1px solid #ffff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    gap: 5px;
}

form button[type="submit"]:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    height: 9%;
    padding: 10px 20px;
    background-color: darkslateblue;
    border: 1px solid #ffff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    gap: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    border: 3px groove #050e41;
    /* Cor da borda ao receber foco */
    outline: none;
    /* Remove o outline padrão do navegador */
}







/* -------------------------------------------------------- MODAL ------------------------------------------------------------------- */
.modalSair {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    /* margin: 0 100% 0 0; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
    /* transition: 500ms; */
}

.modalSair .modalSairDentro {
    width: 30%;
    min-width: 400px;
    min-height: 300px;
    background-color: var(--color-background-modal);
    backdrop-filter: blur(10px);
    height: 60%;
    padding: 30px;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .modalSair .modalSairDentro img {
    width: 80%;
} */

.modalSair.abrir {
    display: flex;
}

@keyframes abrir {
    from {
        /* opacity: 0; */
        transform: translate3d(0, -20px, -5px);
        transition: opacity 0.5s ease;
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 0.5s ease;
    }
}

.abrir .modalSairDentro {
    animation: abrirModal 0.5s;
}

/* .fecharModal {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(143, 8, 8);
    color: white;
    font-size: 20px;
    cursor: pointer;
} */

.modalSair .modalSairDentro .divModal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 35vh;
}

.modalSair .modalSairDentro .divModal h2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modalSair .modalSairDentro .divModal p {
    font-size: 16px;
}

.modalSair .modalSairDentro .divModal button {
    width: 90%;
    height: 5vh;
}

.modalSair .modalSairDentro .divModal .fecharModal {
    background-color: var(--color-opcoes);
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    /* padding: inherit; */
    border: none;
    border-bottom: solid var(--color-nav-hover);
    transition: 500ms;
}

.modalSair .modalSairDentro .divModal .botaoSair {
    background-color: var(--color-sair);
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    /* padding: inherit; */
    border: none;
    border-bottom: solid var(--color-sair-hover);
    transition: 500ms;
}

.modalSair .modalSairDentro .divModal .fecharModal:hover {
    background-color: var(--color-nav-hover);
}

.modalSair .modalSairDentro .divModal .botaoSair:hover {
    background-color: var(--color-sair-hover);
}