body {
    background-color: rgb(3, 3, 34);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color-background-partes: rgb(3, 3, 66);
    --color-opcoes: rgb(35, 35, 121);
    --color-nav-hover: rgb(6, 7, 50);
    --color-background-kpi: rgb(35, 35, 121);

    --color-sair: rgb(203, 30, 4);
    --color-sair-hover: rgb(150, 32, 14);
    --color-sair-borda: rgb(150, 32, 14);
    
    --color-breadcrumb-atual: #98a40b;
    --color-grafico: #061980;
    --color-kpi-normal: rgb(148, 255, 148);
    --color-kpi-atencao: rgb(220, 143, 0);
    --color-kpi-ruim: rgb(255, 9, 9);
    --color-background-modal: rgb(88, 126, 184);
    /* --color-background-kpi: #9b2727; */
}

section {
    display: flex;
    height: 100dvh;
    width: 100dvw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}

nav {
    /* border: 2px solid white; */
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-partes);
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(300, 100, 256, 0.25));
}

nav .logo img {
    /* border: 2px solid greenyellow; */
    width: 100%;
}

nav .nav-items {
    /* border: 2px solid red; */
    /* height: 80%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 4rem;
    font-size: 18px;
    padding-left: 5%;
}

nav .nav-items .item .titulo {
    /* border: 2px solid magenta; */
    display: flex;
    width: 100%;
    font-size: 12px;
    border-radius: 5px;
    /* justify-content: center; */
    /* background-color: var(--color-titulo); */
    transition: 500ms;
    cursor: pointer;
    padding-left: 2%;
}

nav .nav-items .itemSelected .titulo {
    /* border: 2px solid magenta; */
    display: flex;
    width: 100%;
    font-size: 12px;
    border-radius: 5px;
    /* justify-content: center; */
    /* background-color: var(--color-titulo); */
    transition: 500ms;
    cursor: pointer;
    padding-left: 2%;
}

nav .nav-items .item {
    /* border: 2px solid yellow; */
    width: 100%;
    /* height: 20%; */
    display: flex;
    padding: 2%;
    gap: 0.4rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-items .item-sair {
    /* border: 2px solid yellow; */
    width: 100%;
    /* height: 20%; */
    display: flex;
    padding: 2%;
    gap: 0.4rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-items .buttonHome {
    /* border: 2px solid yellow; */
    width: 100%;
    /* height: 20%; */
    display: flex;
    padding: 2%;
    gap: 0.4rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-items .itemSelected {
    /* border: 2px solid yellow; */
    width: 100%;
    /* height: 20%; */
    display: flex;
    padding: 2%;
    gap: 0.4rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-items .item .groupOpcoes {
    /* border: 1px solid rebeccapurple; */
    width: 85%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: var(--color-opcoes);
    border-radius: 5px;
    font-size: 15px;
    transition: 500ms;
    cursor: pointer;
    padding: inherit;
    border: none;
    border-bottom: solid darkslateblue;
}

nav .nav-items .itemSelected .groupOpcoes {
    /* border: 1px solid rebeccapurple; */
    width: 85%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: var(--color-opcoes);
    border-radius: 5px;
    font-size: 15px;
    transition: 500ms;
    cursor: pointer;
    padding: inherit;
    border: none;
    border-bottom: solid #FABF3F;
}

nav .nav-items .item .groupOpcoes-sair {
    /* border: 2px solid yellow; */
    justify-content: center;
    width: 65%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-color: var(--color-sair);
    border-radius: 5px;
    font-size: 15px;
    transition: 500ms;
    cursor: pointer;
    padding: inherit;
    border: none;
    border-bottom: solid var(--color-sair-hover);
}

nav .nav-items .item .groupOpcoes i {
    width: 20%;
    padding: inherit;
}

nav .nav-items .item .titulo:hover {
    background-color: var(--color-nav-hover);
}

nav .nav-items .item .groupOpcoes:hover {
    background-color: var(--color-nav-hover);
}

nav .nav-items .item .groupOpcoes-sair:hover {
    background-color: var(--color-sair-hover);
}

/* -------------------------------------------------------- BREADCRUMB -------------------------------------------------------------- */
.breadcrumb {
    /* border: 1px solid red; */
    height: 4vh;
    width: 42vw;
    display: flex;
    border-radius: 7px;

}

.breadcrumb .breadcrumbList {
    /* padding: 10px 16px; */
    list-style: none;
    /* background-color: var(--color-background-partes); */
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 7px;
}

.breadcrumb .breadcrumbList li {
    border-right: 1px solid var(--color-background-partes);
    border-radius: 5px;
    width: 8vw;
    display: flex;
    justify-content: center;
    background-color: var(--color-grafico);
    padding: 2px;
    box-shadow: 4px 0px 21px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    cursor: pointer;
}

.breadcrumb .breadcrumbList li:hover {
    background-color: var(--color-nav-hover);
}

.breadcrumb .breadcrumbList .primeiro {
    /* background-color: red; */
    z-index: 3;
}

.breadcrumb .breadcrumbList .segundo {
    z-index: 2;
    left: -11px;
    display: flex;
    position: relative;
    background-color: var(--color-breadcrumb-atual);
    /* background: blue; */
}

.breadcrumb .breadcrumbList .terceiro {
    /* background-color: green; */
    left: -18px;
    position: relative;
    z-index: 1;
}

.breadcrumb .breadcrumbList .quarto {
    /* background-color: blueviolet; */
    position: relative;
    left: -23px;
    width: 9vw;
    /* font-style:; */
    color: black;
}

/* -------------------------------------------------------- TELA -------------------------------------------------------------------- */

.main-content {
    height: 95vh;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}

.main-content .projectTools .buttonTools {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-top: 25%;
    padding: 30%;
    background-color: #49C261;
    color: #ffff;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.main-content .projectTools .buttonTools:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-top: 25%;
    padding: 30%;
    background-color: darkslateblue;
    font-size: 14px;
    border: 1px solid #FABF3F;
    border-radius: 10px;
}

.main-content .projectTools .buttonTools i {
    padding: 5px;
}

/* -------------------------------------------------------- PROJETOS -------------------------------------------------------------------- */

.main-content .content-projects {
    display: flex;
    width: 100%;
    height: 146vh;    
    flex-direction: row;
    background-color: var(--color-background-partes);
    align-content: space-evenly;
    filter: drop-shadow(0px 4px 4px rgba(300, 100, 256, 0.25));
    overflow: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.main-content .content-projects::-webkit-scrollbar {
    width: 10px;
    background-color: #FABF3F;
    border-radius: 10px;
}

.main-content .content-projects::-webkit-scrollbar-thumb {
    background-color: darkslateblue;
}

.main-content .content-projects .project-card {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 12px;
    align-items: flex-start;
    width: 23%;
    height: 70vh;
    background-color: rgb(44, 44, 139);
    box-shadow: 0 0 2px 2px darkslateblue;
    border-radius: 10px;
}

.main-content .content-projects .project-card .card-alert {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 5px;
    left: 5px;
    width: 30%;
    height: 4%;
    border-radius: 15px;
}

#dangerous {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    left: 5px;
    width: 30%;
    height: 4%;
    background-color: red;
    border-radius: 15px;
}

#warn {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    left: 5px;
    width: 30%;
    height: 4%;
    background-color: #FABF3F;
    border-radius: 15px;
}

#ok {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    left: 5px;
    width: 30%;
    height: 4%;
    background-color: #49C261;
    border-radius: 15px;
}

.content-projects .project-card .qtd-machines {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0 45px 0;
    /* height: 20%; */
}

.content-projects .project-card .qtd-machines i {
    background-color: black;
    padding: 0 5px;
    border-radius: 50%;
}

.content-projects .project-card .nameDemand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 10px 0;
}

.infoProject {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 3%;
    width: 100%;
    height: 20%;
    /* height: 50%; */
    background-color: transparent;
    border-top: 2px dashed rgb(104, 90, 195);
    border-bottom: 2px dashed rgb(104, 90, 195);
}

.infoProject p {
    font-weight: bold;
    color: rgb(3, 3, 66);
    text-shadow: 2px rgb(104, 90, 195);
}

.infoProject .dtInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoProject .dtTermino {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoProject .responsavel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-card .statusProject {
    display: flex;
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: rgba(3, 3, 66, 0.531);
    bottom: 0;
}

.project-card .statusProject .status1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.project-card .statusProject .status1 p {
    font-size: 12px;
}

.project-card .statusProject .spaceButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.project-card .statusProject .spaceButton .button-go-project {
    background-color: #FABF3F;
    color: black;
    border-radius: 5px; 
    font-size: 12px;
    cursor: pointer;
}

.project-card .local {
    gap: 10px;
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.project-card .local i {
    display: flex;
    font-size: 35px;
}

.deleteProject {
    position: absolute;
    top: 2%;
    right: 2%;
}

.deleteProject i {
    font-size: 25px;
}

/* -------------------------------------------------------- MODAL ------------------------------------------------------------------- */

.modalSair {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    /* margin: 0 100% 0 0; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
    /* transition: 500ms; */
}

.modalSair .modalSairDentro {
    width: 30%;
    min-width: 400px;
    min-height: 300px;
    background-color: var(--color-background-modal);
    backdrop-filter: blur(10px);
    height: 60%;
    padding: 30px;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .modalSair .modalSairDentro img {
    width: 80%;
} */

.modalSair.abrir {
    display: flex;
}

@keyframes abrir {
    from {
        /* opacity: 0; */
        transform: translate3d(0, -20px, -5px);
        transition: opacity 0.5s ease;
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 0.5s ease;
    }
}

.abrir .modalSairDentro {
    animation: abrirModal 0.5s;
}

/* .fecharModal {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(143, 8, 8);
    color: white;
    font-size: 20px;
    cursor: pointer;
} */

.modalSair .modalSairDentro .divModal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 35vh;
}

.modalSair .modalSairDentro .divModal h2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modalSair .modalSairDentro .divModal p {
    font-size: 16px;
}

.modalSair .modalSairDentro .divModal button {
    width: 90%;
    height: 5vh;
}

.modalSair .modalSairDentro .divModal .fecharModal {
    background-color: var(--color-opcoes);
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    /* padding: inherit; */
    border: none;
    border-bottom: solid var(--color-nav-hover);
    transition: 500ms;
}

.modalSair .modalSairDentro .divModal .botaoSair {
    background-color: var(--color-sair);
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    /* padding: inherit; */
    border: none;
    border-bottom: solid var(--color-sair-hover);
    transition: 500ms;
}

.modalSair .modalSairDentro .divModal .fecharModal:hover {
    background-color: var(--color-nav-hover);
}

.modalSair .modalSairDentro .divModal .botaoSair:hover {
    background-color: var(--color-sair-hover);
}