* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    display: flex;
    height: 100dvh;
    width: 100%;
    filter: drop-shadow(0px 20px 20px rgba(45, 95, 201, 0.25));
}


/* ============================================ Global Settings  ====================*/

.btns-login-register {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* border: 5px solid blueviolet; */

}

#btn-login {
    color: black;
    display: flex;
    width: 180px;
    height: 50px;
    background-image: linear-gradient(to right, #3083f0, #5730f0);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.4s;
}

#btn-login:hover {
    width: 45%;
    background-image: none;
    background-color: transparent;
    border: #5730f0 1px solid;
    color: #3083f0;
}

#btn-register {
    display: flex;
    width: 180px;
    height: 50px;
    background-image: linear-gradient(to left, #FDAD00, #ffff);
    color: #2c1f02;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.7s;
}

#btn-register:hover {
    width: 45%;
    background-image: none;
    background-color: transparent;
    border: #FDAD00 1px solid;
    color: #ffc54a;
}

nav {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
    transition: 0.4s;
    /* border: 5px solid yellow; */
}

.image-logo {
    display: flex;
    justify-content: center;
    width: 10%;
    height: 100%;
}

nav .nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 50%;
}

li {
    color: white;
    cursor: pointer;
    font-size: 18px;
}

li:hover {
    border-bottom: 2px solid #FDAD00;
    transition: 0.8s;
    font-size: 20px;
    color: #FDAD00;
}

nav .nav-items a {
    color:  #FDAD00;
    font-size: 1.5em;
    transition: ease-out 0.4s;
}

/* ================================== NAV ================================ */
main .home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main .home .main-image {
    display: flex;
    width: 100%;
    height: 100%;
    border: 5px solid red;
    filter: blur(3px);
}

main .home .main-image img {
    width: 100%;
}

.solution {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001736;
}

main .solution .main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    gap: 5%;
}

main .solution .main-content .solution-box {
    display: flex;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url(https://img.freepik.com/vetores-gratis/conceito-de-tecnologia-de-wireframe-poligonal-de-computacao-em-nuvem_1017-29594.jpg?t=st=1710035568~exp=1710039168~hmac=ff71907a0cb0a6e627d39dea460a9f6e9a19a400c465a0db57bf575220e5a3fd&w=1380);
}

main .solution .main-content .solution-box .box {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    margin-left: 5%;
    /* border: 5px solid white; */
}

main .solution .main-content .solution-box .box .title {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 5%; */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

main .solution .main-content .solution-box .title h1 {
    font-size: 6em;
    color: #FDAD00
}

main .solution .main-content .solution-box .solution-info {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    text-align: left;
    border: 5px solid yellowgreen;
}

main .solution .main-content .solution-box .image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main .solution .main-content .solution-box .image-box .image1 {
    display: flex;
    max-width: 75%;
    max-height: 50%;
}

main .solution .main-content .solution-box .image-box .image2 {
    display: flex;
    max-width: 75%;
    max-height: 25%;
}

main .solution .main-content .solution-box .image-box img {
    width: 100%;
    border-radius: 50px;
}

main .solution .main-content .buttons-div {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .solution .main-content .buttons-div button {
    width: 15%;
    height: 75px;
    background-color: #FDAD00;
    border-radius: 25px;
    border: none;
    font-size: 1.2em;
}

main .about-us {
    display: inline-block;
    justify-content: center;
    border: 5px solid red;
}

main .about-us .about-box1 {
    display: flex;
    width: 100%;
    height: 55%;
}

main .about-us .about-box1 .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main .about-us .about-box1 .image-box img {
    width: 90%;
    height: 90%;
    border-radius: 25px;
}

main .about-us .about-box1 .text {
    width: 45%;
    text-shadow: 1px 1px 1px black;
    font-size: 2em;
    text-align: center;
}

main .about-us .about-box2 {
    display: flex;
    width: 100%;
    height: 45%;
}

main .about-us .about-box2 .text {
    width: 55%;
    height: 100%;
    text-shadow: 1px 1px 1px black;
    font-size: 2em;
    text-align: center;
}

main .about-us .about-box2 .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main .about-us .about-box2 .image-box img{
    width: 90%;
    height: 90%;
    border-radius: 25px;
}


#containers-title {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 6em;
    color: #FDAD00;
    font-weight: bold;
    text-shadow: 2px 2px 8px #001736;
    background-image: linear-gradient(to right, #3083f0, #ffff);
}

.container1 {
    display: flex;
    height: 50%;
    padding: 100px;
    border-bottom: 1px solid #001736;
    margin: 0;
    bottom: 100px;
    background-image: linear-gradient(to right, #3083f0, #ffff);

}

.container2 {
    display: flex;
    height: 50%;
    padding-left: 200px;
    padding-bottom: 70px;
    padding-top: 100px;
    border: 1px solid #001736;
}

.container1-img {
    position: relative;
    margin-right: 400px;
    width: 200px;
}

.container1 p {
    color: #001736;
    font-size: 25px;
    width: 60%;
    margin: 0;
    padding: 0;
}

.container2 p {
    color: #001736;
    font-size: 25px;
    width: 80%;
    margin: 0;
    padding: 0;
}

.container2-img {
    position: relative;
    width: 500px;
    margin-right: 200px;
    padding-bottom: 100px;
    border-radius: 25px;
}

.containers img {
    border-radius: 50px;
    border: 2px solid #3083f0;
    box-shadow: 2px 2px px 8px #001736;
}

main .bases {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000BB;
    border: 5px solid red;
}

main .bases .bases-box {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 80%;
    flex-direction: row;
    padding: 25px;
    gap: 5%;
}

main .bases .bases-box .base {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    gap: 5%;
    background-color: white;
    border-radius: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

main .bases .bases-box .base img {
    width: 100%;
    height: 45%;
    border-radius: 25px;
    background-color: #808080e5;
}

main .bases .bases-box .base h1 {
    text-align: center;
    font-size: 3em;
    color: #000071;
    /* border: 5px solid rgb(239, 248, 0); */
}

main .bases .bases-box .base p {
    text-align: center;
    color: #000071;
    /* border: 5px solid rgb(0, 229, 255); */
}

main .missions {
    display: flex;
    background-color: #000071;
}

main .missions .missions-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border: 5px solid white;
}

main .missions .missions-box .mission {
    display: flex;
    width: 70%;
    height: 30%;
    border: 5px solid fuchsia;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

main .missions .missions-box .mission:nth-child(2) {
    width: 70%;
    margin-left: 30%;
    flex-direction: row-reverse;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

main .missions .missions-box .mission img {
    width: 45%;
    height: 100%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
}

main .missions .missions-box .mission p {
    text-align: center;
    color: #FDAD00;
    width: 55%;
    height: 100%;
    border: 5px solid rgb(37, 249, 0);
}

main .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0000BB;
    gap: 15%;
}

main .contact .contact-box {
    width: 80%;
    height: 80%;
    background-color: white;
    border: 5px solid darkturquoise;
    border-radius: 25px;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    background-color: #001736;
    border: 5px solid red;
}

footer .anchors {
    border: 5px solid lime;
}

footer .communication {
    border: 5px solid white;
}

footer .license {
    border: 5px solid yellow;
}